:root {
  --text-color: beige;
  --background-color: orange;
  --accent-color: cadetblue;
}

.body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* 색을 바꾸고 싶을 때, :root만 바꿔도 var로 지정된 색을 바꿀 수 있다 */
a {
  text-decoration: none;
  color: var(--text-color);
}
.navbar {
  display: flex;
  background: orange;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: beige;
}

.navbar_logo i {
  color: cadetblue;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background: palevioletred;
  border-radius: 4px;
}
.navbar_sns {
  display: flex;
  list-style: none;
  color: beige;
}

.navbar_sns li {
  padding: 8px 12px;
}

/* right: 오른쪽에 px만큼 떨어져서 배치하라 */
.navbar_toggleButton {
  position: absolute;
  right: 32px;
  font-size: 24px;
  display: none;
  color: cadetblue;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  /* width를 설정해 주어야 align이 가능하다 */
  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
    /* media query일 경우 display가 사라진다. */
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_sns {
    justify-content: center;
    width: 100%;
    padding-left: 0;
    display: none;
  }

  .navbar_toggleButton {
    display: block;
  }

  .navbar_menu.active,
  .navbar_sns.active {
    display: flex;
  }
}
